[submodule "crosstool-ng"]
	path = crosstool-ng
	url = https://github.com/crosstool-ng/crosstool-ng
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/smaeul/u-boot
	branch = d1-wip
[submodule "trusted-firmware-a"]
	path = trusted-firmware-a
	url = https://git.trustedfirmware.org/TF-A/trusted-firmware-a.git
[submodule "linux"]
	path = linux
	url = git@github.com:retpolanne/linux.git
[submodule "sunxi-tools"]
	path = sunxi-tools
	url = https://github.com/linux-sunxi/sunxi-tools.git
[submodule "crust"]
	path = crust
	url = https://github.com/crust-firmware/crust
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain
[submodule "opensbi"]
	path = opensbi
	url = https://github.com/riscv-software-src/opensbi
[submodule "xfel"]
	path = xfel
	url = https://github.com/xboot/xfel.git
[submodule "openocd"]
	path = openocd
	url = https://github.com/openocd-org/openocd.git
[submodule "libjaylink"]
	path = libjaylink
	url = https://github.com/syntacore/libjaylink.git
[submodule "rpi-linux"]
	path = rpi-linux
	url = https://github.com/raspberrypi/linux
