# SiPEED USB-JTAG/TTL based on FT2232D
adapter driver jlink
# http://blog.sipeed.com/p/727.html
transport select jtag
adapter speed     1000

set _CHIPNAME riscv
#jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id 0x20000001
#jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id 0x0
# jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id 0x00185900 # wrong?
jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id 0x08052b43

set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME.0 riscv -chain-position $_TARGETNAME
#$_TARGETNAME.0 configure -work-area-phys 0x80000000 -work-area-size 10000 -work-area-backup 1
#$_TARGETNAME.0 configure -work-area-phys 0x50000000 -work-area-size 32768 -work-area-backup 0

#riscv set_prefer_sba on
# riscv set_mem_access progbuf

echo "SiPEED USB-JTAG/TTL Ready for Remote Connections"
